@import url(font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  background-color: #fefae0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  font-family: IRANSans !important;
}

ul {
  list-style: none;
}
